<?php /* get cross sell products after add product to cart start */ ?>
<?php
$_product = $this->getProduct();
$object = Mage::getModel('catalog/product');
$_helper = $this->helper('catalog/output');
$sku=$_helper->productAttribute($_product, $_product->getSku(), 'sku');
$product = Mage::getModel('catalog/product')->loadByAttribute('sku',$sku);
?>
<?php 
$gallery_images = Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages();
$items = array();
$labe = array();
foreach($gallery_images as $g_image) {
    $items[] = $g_image['url'];
    $labe[] = $g_image['label'];
}
?>
<?php /* get cross sell products after add product to cart end */ ?>
<div class="add-to-cart-holder">
    <div class="success-msg-btn">
        <div class="success-msg-holder">
            <div class="suc-msg-img">
                <?php if($items):?>
                    <img src="<?php echo $items[0]?>" alt="<?php echo $labe[0]?>" border="0">
                <?php endif;?>
            </div>
            <div class="suc-prod-holder">
                <h3><?php echo $product['name']; ?><span><?php echo $product['sub_name']; ?></span></h3>
                <div class="suc-msg">
                    <img src="/skin/frontend/SMGC/default/images/green-right.png" alt="page-loader" border="0">
                    <span>Added to Basket</span>
                </div>
            </div>
        </div>
        <div class="success-btn-holder">
            <a id="cont_shop" href="" class="btn border-gray-btn">Continue Shopping</a>
            <a href="<?php echo $this->getUrl('checkout/cart'); ?>" class="fill-btn fill-yellow-btn chkout-now-arrow">Checkout Now</a>
        </div>
    </div>
    <?php
        $load_extend = new SMGC_Extend_Block_View();
        $pop_data = $load_extend->getCrossellProductForPopup_html($_product);
        echo $pop_data;
    ?>
</div>
