<?php 
$useIas = $this->getUseIas();
$useUitotop = $this->getUseScrollToTop();
if ($useIas) {
    // Get the default setting for grid or list mode
    $productListMode = $this->getDefaultCatalogListMode();
    if ($productListMode == 'grid-list')
        $productListMode = 'grid';
    elseif ($productListMode == 'list-grid')
        $productListMode = 'list';

    // Check if this setting is overwritten by the user
    if ($this->getCurrentListMode()) {
        if($this->getCurrentListMode() == 'grid')
            $productListMode = 'grid';
        else
            $productListMode = 'list';
    }
}
?>
<?php if ($useIas || $useUitotop): ?>
<script type="text/javascript">
<?php if ($useIas): ?>
$j.ias({
    container : '#product-list',
    item: '#single-product',
    pagination: '.toolbar .pager',
    next: '.next',
    loader: '<img src="<?php echo($this->getSkinUrl('images/ajaxscroll/loader.gif')); ?>" /> <?php echo __('Loading more products, please be patient...'); ?>',
    onPageChange: function(pageNum, pageUrl, scrollOffset) {
        // This will track a pageview every time the user scrolls up or down the screen to a different page.
        path = $j('<a/>').attr('href',pageUrl)[0].pathname.replace(/^[^\/]/,'/');
    },
    triggerPageThreshold: <?php echo $this->getIasTriggerpagethreshold(); ?>,
    thresholdMargin: <?php echo $this->getIasThresholdmargin(); ?>,
    trigger: '<?php echo __('Load more Products'); ?>',
    history: <?php echo ($this->getIasHistory()) ? 'true' : 'false'; ?>
 });
<?php endif; ?>
<?php if ($useUitotop): ?>
$j(document).ready(function() {
    $j().UItoTop({ easingType: 'easeOutQuart' });        
    console.log($j().UItoTop({ easingType: 'easeOutQuart' }));
});
<?php endif; ?>
</script>
<?php endif; ?>
