<?php
    $xmlfile = Mage::getModel('core/variable')->loadByCode('blog-feed-url')->getName();
    $xml = simplexml_load_file($xmlfile);
    $linkarr=array();
    $imagearr=array();
    $titlearr=array();
    foreach ($xml->channel->item as $t):
        $linkarr[]=$t->link;
        $imagearr[]=$t->enclosure['url'];
        $titlearr[]=$t->title;
    endforeach;
?>
<section class="top-btm-gap blog section">
<div class="wrapper">
<h2>From the Blog</h2>
<hr>
<p><i>All the latest security news &amp; product updates from the SpyCameraCCTV Blog</i></p>
<div class="full-width">
<ul class="blog-flex">
<li>
<a href="<?php echo $linkarr[0]?>" target="_blank">
<div class="blog-large-post">
<img src="<?php echo $imagearr[0] ?>" alt="" border="0">
<h3><?php echo $titlearr[0] ?></h3>
</div>
</a>
<a href="<?php echo $linkarr[1]?>" target="_blank">
<div class="blog-large-post">
<img src="<?php echo $imagearr[1] ?>" alt="" border="0">
<h3><?php echo $titlearr[1] ?></h3>
</div>
</a>
</li>
<li>
<a href="<?php echo $linkarr[2]?>" target="_blank">
<div class="blog-small-post">
<img src="<?php echo $imagearr[2] ?>" alt="" border="0">
<h3><?php echo $titlearr[2] ?></h3>
</div>
</a>
<a href="<?php echo $linkarr[3]?>" target="_blank">
<div class="blog-small-post">
<img src="<?php echo $imagearr[3] ?>" alt="" border="0">
<h3><?php echo $titlearr[3] ?></h3>
</div>
</a>
<a href="<?php echo $linkarr[4]?>" target="_blank">
<div class="blog-small-post">
<img src="<?php echo $imagearr[4] ?>" alt="" border="0">
<h3><?php echo $titlearr[4] ?></h3>
</div>
</a>
<a href="https://www.spycameracctv.com/blog/" class="view-all-btn" target="_blank">
<img src="<?php echo $this->getSkinUrl('images/plus-icon.svg') ?>" alt="" border="0">
<p>View All</p>
</a>
</li>
</ul>
</div>
</div>
</section>