<?php 
$sku=Mage::getModel('core/variable')->loadByCode('homepage-popular-products')->getName();
$temp=explode(",",$sku);
foreach($temp as $val)
{
    $product[] = Mage::getModel('catalog/product')->loadByAttribute('sku',$val);
}
?>

<?php if(count($product)==4):?>
<section class="section top-btm-gap popular-product">
    <div class="wrapper">
        <h2>Popular Products</h2>
        <hr>
        <div class="tiles-holder">
            <ul>
                <li>
                    <a href="<?php echo $product[0]->getProductUrl();?>">
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <div class="filters">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <img src="<?php echo $this->helper('catalog/image')->init($product[0], 'thumbnail')->resize(266, 266)?>" width="266" height="266" border="0" alt="<?php echo $product[0]['image_label'];?>"/>
                                </li>
                            </ul>
                        </div>
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <h3><?php echo $product[0]['name'];?>
                                        <span><?php echo $product[0]['sub_name'];?></span>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <?php
                                        $productId = $product[0]->getId();
                                            $reviews = Mage::getModel('review/review')
                                                        ->getResourceCollection()
                                                        ->addStoreFilter(Mage::app()->getStore()->getId())
                                                        ->addEntityFilter('product', $productId)
                                                        ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
                                                        ->setDateOrder()
                                                        ->addRateVotes();
                                        if (count($reviews) > 0) {
                                            $votesCollection = Mage::getModel('rating/rating_option_vote')
                                                ->getResourceCollection()
                                                ->setEntityPkFilter($productId)
                                                ->setStoreFilter(Mage::app()->getStore()->getId())
                                                ->load();
                                            $rate=array();        
                                            foreach($votesCollection as $vo)
                                            {
                                                foreach ($reviews->getItems() as $review) {
                                                    if($review['review_id']==$vo['review_id'])
                                                    {
                                                        $rate[]=$vo['value'];
                                                    }
                                                }
                                            }    
                                            $avgf = array_sum($rate)/count($rate);
                                            $avg = floor($avgf);  
                                            $fraction = $avgf - $avg; 
                                            $fraction=round($fraction);
                                            $remaining_star=5-$avgf;
                                            $remaining_star=round($remaining_star, 0, PHP_ROUND_HALF_DOWN);
                                        }
                                        ?>
                                    <div class="rating">
                                    <?php if (count($reviews) > 0) {
                                            for($i=1;$i<=$avg;$i++)
                                            {    ?>
                                            <img src="<?php echo $this->getSkinUrl('images/star-icon.svg') ?>" alt="" border="0">
                                            <?php }?>
                                            <?php for($i=1;$i<=$fraction;$i++){?>
                                            <img src="<?php echo $this->getSkinUrl('images/half-star-icon.svg') ?>" alt="" border="0">
                                            <?php } ?>
                                        <?php for($i=1;$i<=$remaining_star;$i++)
                                            {    ?>
                                            <img src="<?php echo $this->getSkinUrl('images/grey-star-icon.svg') ?>" alt="" border="0">
                                            <?php }?>
                                    <?php } ?>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <?php if($product[0]->getTypeId()=="simple"):?>
                        <?php 
                            $sim_price=$product[0]->getPrice();
                            $special_price=$product[0]->getFinalPrice();
                            $dis=$sim_price-$special_price;
                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                            foreach($currencyRa as $me => $rates){
                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                    $sim_price= number_format((float)$sim_price*$rates, 2, '.', '');
                                    $special_price= number_format((float)$special_price*$rates, 2, '.', '');
                                    $dis= number_format((float)$dis*$rates, 2, '.', '');
                                }
                                else
                                {
                                    $sim_price=number_format((float)$sim_price, 2, '.', '');
                                    $special_price=number_format((float)$special_price, 2, '.', '');
                                    $dis=number_format((float)$dis, 2, '.', '');
                                }
                            }
                        ?>
                        <span class="pop-prod-price<?php if($sim_price!=$special_price) echo ' discounted-pop-prod';?>">
                        <?php if($sim_price!=$special_price):?>
                            <span class="discount"> Was <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($sim_price)+($sim_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$sim_price, 2, '.', '');?>"></b></span>
                        <?php endif;?>
                            <span class="price" data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($special_price)+($special_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$special_price, 2, '.', '');?>"></span>
                        <?php if($sim_price!=$special_price):?>
                            <span class="save"> Save <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($dis)+($dis*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$dis, 2, '.', '');?>"></b></span>
                        <?php endif;?>
                        </span>
                        <?php endif;?>
                        <?php if($product[0]->getTypeId()=="bundle"):?>
                        <?php
                            $optionCol= $product[0]->getTypeInstance(true)
                                                ->getOptionsCollection($product[0]);
                            $selectionCol= $product[0]->getTypeInstance(true)
                                                   ->getSelectionsCollection(
                            $product[0]->getTypeInstance(true)->getOptionsIds($product[0]),$product[0]
                            );
                            $optionCol->appendSelections($selectionCol);
                            $price = $product[0]->getPrice();

                            foreach ($optionCol as $option) {
                                if($option->required) {
                                    $selections = $option->getSelections();
                                    $minPrice = min(array_map(function ($s) {
                                                    return $s->price;
                                                }, $selections));
                                    if($product[0]->getSpecialPrice() > 0) {
                                        $minPrice *= $product[0]->getSpecialPrice()/100;
                                    }

                                    $price += round($minPrice,2);
                                }  
                            }
                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                            foreach($currencyRa as $me => $rates){
                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                    $price= number_format((float)$price*$rates, 2, '.', '');
                                }
                                else
                                {
                                    $price=number_format((float)$price, 2, '.', '');
                                }
                            }
                            
                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($price)+($price*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$price, 2, '.', '').'"></span></span>';
                        ?>
                        <?php endif;?>
                        <?php if($product[0]->getTypeId()=='configurable'):?>
                            <?php 
                            $minn = array();
                            $confi_product = Mage::getModel('catalog/product')->load($product[0]->getId());
                            $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                            $block->setProduct($confi_product);
                            $config = json_decode($block->getJsonConfig(), true);
                            foreach ($config['childProducts'] as $aId=>$aValues){
                                $minn[]=$aValues['price'];
                            }
                            $min=min($minn);
                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($min)+($min*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$min, 2, '.', '').'"></span></span>';
                            ?>
                        <?php endif;?>
                        <div class="col-table full-width">
                            <ul>
                                <li><span class="btn border-gray-btn button btn-empty">View Product</span></li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="<?php echo $product[1]->getProductUrl();?>">
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <div class="filters">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <img src="<?php echo $this->helper('catalog/image')->init($product[1], 'thumbnail')->resize(266, 266)?>" width="266" height="266" border="0" alt="<?php echo $product[1]['image_label'];?>"/>
                                </li>
                            </ul>
                        </div>
                        <div class="col-table full-width">
                            <ul>
                                <li>
                                    <h3><?php echo $product[1]['name'];?>
                                        <span><?php echo $product[1]['sub_name'];?></span>
                                    </h3>
                                </li>
                            </ul>
                        </div>
                        <div class="row-table full-width">
                            <ul>
                                <?php
                                    $productId = $product[1]->getId();
                                        $reviews = Mage::getModel('review/review')
                                                    ->getResourceCollection()
                                                    ->addStoreFilter(Mage::app()->getStore()->getId())
                                                    ->addEntityFilter('product', $productId)
                                                    ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
                                                    ->setDateOrder()
                                                    ->addRateVotes();
                                    if (count($reviews) > 0) {    
                                        $votesCollection = Mage::getModel('rating/rating_option_vote')
                                            ->getResourceCollection()
                                            ->setEntityPkFilter($productId)
                                            ->setStoreFilter(Mage::app()->getStore()->getId())
                                            ->load();
                                        $rate=array();        
                                        foreach($votesCollection as $vo)
                                        {
                                            foreach ($reviews->getItems() as $review) {
                                                if($review['review_id']==$vo['review_id'])
                                                {
                                                    $rate[]=$vo['value'];
                                                }
                                            }
                                        }    
                                        $avgf = array_sum($rate)/count($rate);
                                        $avg = floor($avgf);  
                                        $fraction = $avgf - $avg; 
                                        $fraction=round($fraction);
                                        $remaining_star=5-$avgf;
                                        $remaining_star=round($remaining_star, 0, PHP_ROUND_HALF_DOWN);
                                    }                                        
                                    ?>
                                <div class="rating">
                                <?php if (count($reviews) > 0) {
                                        for($i=1;$i<=$avg;$i++)
                                        {    ?>
                                        <img src="<?php echo $this->getSkinUrl('images/star-icon.svg') ?>" alt="" border="0">
                                        <?php }?>
                                        <?php for($i=1;$i<=$fraction;$i++){?>
                                        <img src="<?php echo $this->getSkinUrl('images/half-star-icon.svg') ?>" alt="" border="0">
                                        <?php }?>
                                    <?php for($i=1;$i<=$remaining_star;$i++)
                                        {    ?>
                                        <img src="<?php echo $this->getSkinUrl('images/grey-star-icon.svg') ?>" alt="" border="0">
                                        <?php }?>
                                <?php } ?>
                                </div>
                            </ul>
                        </div>
                        <?php if($product[1]->getTypeId()=="simple"):?>
                        <?php 
                            $sim_price=$product[1]->getPrice();
                            $special_price=$product[1]->getFinalPrice();
                            $dis=$sim_price-$special_price;
                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                            foreach($currencyRa as $me => $rates){
                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                    $sim_price= number_format((float)$sim_price*$rates, 2, '.', '');
                                    $special_price= number_format((float)$special_price*$rates, 2, '.', '');
                                    $dis= number_format((float)$dis*$rates, 2, '.', '');
                                }
                                else
                                {
                                    $sim_price=number_format((float)$sim_price, 2, '.', '');
                                    $special_price=number_format((float)$special_price, 2, '.', '');
                                    $dis=number_format((float)$dis, 2, '.', '');
                                }
                            }
                        ?>
                        <span class="pop-prod-price<?php if($sim_price!=$special_price) echo ' discounted-pop-prod';?>">
                        <?php if($sim_price!=$special_price):?>
                            <span class="discount"> Was <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($sim_price)+($sim_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$sim_price, 2, '.', '');?>"></b></span>
                        <?php endif;?>
                            <span class="price" data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($special_price)+($special_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$special_price, 2, '.', '');?>"></span>
                        <?php if($sim_price!=$special_price):?>
                            <span class="save"> Save <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($dis)+($dis*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$dis, 2, '.', '');?>"></b></span>
                        <?php endif;?>
                        </span>
                        <?php endif;?>
                        <?php if($product[1]->getTypeId()=="bundle"):?>
                        <?php
                            $optionCol= $product[1]->getTypeInstance(true)
                                                ->getOptionsCollection($product[1]);
                            $selectionCol= $product[1]->getTypeInstance(true)
                                                   ->getSelectionsCollection(
                            $product[1]->getTypeInstance(true)->getOptionsIds($product[1]),$product[1]
                            );
                            $optionCol->appendSelections($selectionCol);
                            $price = $product[1]->getPrice();

                            foreach ($optionCol as $option) {
                                if($option->required) {
                                    $selections = $option->getSelections();
                                    $minPrice = min(array_map(function ($s) {
                                                    return $s->price;
                                                }, $selections));
                                    if($product[1]->getSpecialPrice() > 0) {
                                        $minPrice *= $product[1]->getSpecialPrice()/100;
                                    }

                                    $price += round($minPrice,2);
                                }  
                            }
                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                            foreach($currencyRa as $me => $rates){
                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                    $price= number_format((float)$price*$rates, 2, '.', '');
                                }
                                else
                                {
                                    $price=number_format((float)$price, 2, '.', '');
                                }
                            }
                            
                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($price)+($price*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$price, 2, '.', '').'"></span></span>';
                        ?>
                        <?php endif;?>
                        <?php if($product[1]->getTypeId()=='configurable'):?>
                            <?php 
                            $minn = array();
                            $confi_product = Mage::getModel('catalog/product')->load($product[1]->getId());
                            $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                            $block->setProduct($confi_product);
                            $config = json_decode($block->getJsonConfig(), true);
                            foreach ($config['childProducts'] as $aId=>$aValues){
                                $minn[]=$aValues['price'];
                            }
                            $min=min($minn);
                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($min)+($min*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$min, 2, '.', '').'"></span></span>';
                            ?>
                        <?php endif;?>
                        <div class="col-table full-width">
                            <ul>
                                <li><span class="btn border-gray-btn button btn-empty">View Product</span></li>
                            </ul>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="<?php echo $product[2]->getProductUrl();?>">
                        <div class="row-table">
                            <ul>
                                <li>
                                    <div class="filters">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-table small-two">
                                        <ul>
                                            <li>
                                                <div class="col-table">
                                                    <ul>
                                                        <li><img src="<?php echo $this->helper('catalog/image')->init($product[2], 'thumbnail')->resize(98, 98)?>" width="98" height="98" border="0" alt="<?php echo $product[2]['image_label'];?>"/></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row-table">
                                                    <ul>
                                                        <li>
                                                            <h3><?php echo $product[2]['name'];?>
                                                                <span><?php echo $product[2]['sub_name'];?></span>
                                                            </h3>
                                                        </li>
                                                        <?php
                                                            $productId = $product[2]->getId();
                                                                $reviews = Mage::getModel('review/review')
                                                                            ->getResourceCollection()
                                                                            ->addStoreFilter(Mage::app()->getStore()->getId())
                                                                            ->addEntityFilter('product', $productId)
                                                                            ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
                                                                            ->setDateOrder()
                                                                            ->addRateVotes();
                                                            if (count($reviews) > 0) {    
                                                                $votesCollection = Mage::getModel('rating/rating_option_vote')
                                                                    ->getResourceCollection()
                                                                    ->setEntityPkFilter($productId)
                                                                    ->setStoreFilter(Mage::app()->getStore()->getId())
                                                                    ->load();
                                                                $rate=array();        
                                                                foreach($votesCollection as $vo)
                                                                {
                                                                    foreach ($reviews->getItems() as $review) {
                                                                        if($review['review_id']==$vo['review_id'])
                                                                        {
                                                                            $rate[]=$vo['value'];
                                                                        }
                                                                    }
                                                                }    
                                                                $avgf = array_sum($rate)/count($rate);
                                                                $avg = floor($avgf);  
                                                                $fraction = $avgf - $avg; 
                                                                $fraction=round($fraction);
                                                                $remaining_star=5-$avgf;
                                                                $remaining_star=round($remaining_star, 0, PHP_ROUND_HALF_DOWN);
                                                            }                                        
                                                            ?>
                                                        <div class="rating">
                                                        <?php if (count($reviews) > 0) {
                                                                for($i=1;$i<=$avg;$i++)
                                                            {    ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/star-icon.svg') ?>" alt="" border="0">
                                                            <?php }?>
                                                        <?php for($i=1;$i<=$fraction;$i++){?>
                                                            <img src="<?php echo $this->getSkinUrl('images/half-star-icon.svg') ?>" alt="" border="0">
                                                        <?php }?>
                                                        <?php for($i=1;$i<=$remaining_star;$i++)
                                                            {    ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/grey-star-icon.svg') ?>" alt="" border="0">
                                                            <?php }?>
                                                        <?php } ?>
                                                        </div>
                                                        <?php if($product[2]->getTypeId()=="simple"):?>
                                                        <?php 
                                                        $sim_price=$product[2]->getPrice();
                                                        $special_price=$product[2]->getFinalPrice();
                                                        $dis=$sim_price-$special_price;
                                                        $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                                                        $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                                                        $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                                                        foreach($currencyRa as $me => $rates){
                                                            if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                                                $sim_price= number_format((float)$sim_price*$rates, 2, '.', '');
                                                                $special_price= number_format((float)$special_price*$rates, 2, '.', '');
                                                                $dis= number_format((float)$dis*$rates, 2, '.', '');
                                                            }
                                                            else
                                                            {
                                                                $sim_price=number_format((float)$sim_price, 2, '.', '');
                                                                $special_price=number_format((float)$special_price, 2, '.', '');
                                                                $dis=number_format((float)$dis, 2, '.', '');
                                                            }
                                                        }
                                                        ?>
                                                        <span class="pop-prod-price<?php if($sim_price!=$special_price) echo ' discounted-pop-prod';?>">
                                                        <?php if($sim_price!=$special_price):?>
                                                            <span class="discount"> Was <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($sim_price)+($sim_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$sim_price, 2, '.', '');?>"></b></span>
                                                        <?php endif;?>
                                                            <span class="price" data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($special_price)+($special_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$special_price, 2, '.', '');?>"></span>
                                                        <?php if($sim_price!=$special_price):?>
                                                            <span class="save"> Save <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($dis)+($dis*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$dis, 2, '.', '');?>"></b></span>
                                                        <?php endif;?>
                                                        </span>
                                                        <?php endif;?>
                                                        <?php if($product[2]->getTypeId()=="bundle"):?>
                                                        <?php
                                                            $optionCol= $product[2]->getTypeInstance(true)
                                                                                ->getOptionsCollection($product[2]);
                                                            $selectionCol= $product[2]->getTypeInstance(true)
                                                                                   ->getSelectionsCollection(
                                                            $product[2]->getTypeInstance(true)->getOptionsIds($product[2]),$product[2]
                                                            );
                                                            $optionCol->appendSelections($selectionCol);
                                                            $price = $product[2]->getPrice();

                                                            foreach ($optionCol as $option) {
                                                                if($option->required) {
                                                                    $selections = $option->getSelections();
                                                                    $minPrice = min(array_map(function ($s) {
                                                                                    return $s->price;
                                                                                }, $selections));
                                                                    if($product[2]->getSpecialPrice() > 0) {
                                                                        $minPrice *= $product[2]->getSpecialPrice()/100;
                                                                    }

                                                                    $price += round($minPrice,2);
                                                                }  
                                                            }
                                                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                                                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                                                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                                                            foreach($currencyRa as $me => $rates){
                                                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                                                    $price= number_format((float)$price*$rates, 2, '.', '');
                                                                }
                                                                else
                                                                {
                                                                    $price=number_format((float)$price, 2, '.', '');
                                                                }
                                                            }
                            
                                                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($price)+($price*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$price, 2, '.', '').'"></span></span>';
                                                        ?>
                                                        <?php endif;?>
                                                        <?php if($product[2]->getTypeId()=='configurable'):?>
                                                            <?php 
                                                            $minn = array();
                                                            $confi_product = Mage::getModel('catalog/product')->load($product[2]->getId());
                                                            $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                                                            $block->setProduct($confi_product);
                                                            $config = json_decode($block->getJsonConfig(), true);
                                                            foreach ($config['childProducts'] as $aId=>$aValues){
                                                                $minn[]=$aValues['price'];
                                                            }
                                                            $min=min($minn);
                                                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($min)+($min*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$min, 2, '.', '').'"></span></span>';
                                                            ?>
                                                        <?php endif;?>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class="btn border-gray-btn button btn-empty">View Product</span></li>
                            </ul>
                        </div>
                    </a>
                    <a href="<?php echo $product[3]->getProductUrl();?>">
                        <div class="row-table">
                            <ul>
                                <li>
                                    <div class="filters">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-table small-two">
                                        <ul>
                                            <li>
                                                <div class="col-table full-width">
                                                    <ul>
                                                        <li><img src="<?php echo $this->helper('catalog/image')->init($product[3], 'thumbnail')->resize(98, 98)?>" width="98" height="98" border="0" alt="<?php echo $product[3]['image_label'];?>"/></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row-table">
                                                    <ul>
                                                        <li>
                                                            <h3><?php echo $product[3]['name'];?>
                                                                <span><?php echo $product[3]['sub_name'];?></span>
                                                            </h3>
                                                        </li>
                                                        <?php
                                                            $productId = $product[3]->getId();
                                                                $reviews = Mage::getModel('review/review')
                                                                            ->getResourceCollection()
                                                                            ->addStoreFilter(Mage::app()->getStore()->getId())
                                                                            ->addEntityFilter('product', $productId)
                                                                            ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
                                                                            ->setDateOrder()
                                                                            ->addRateVotes();
                                                            if (count($reviews) > 0) {    
                                                                $votesCollection = Mage::getModel('rating/rating_option_vote')
                                                                    ->getResourceCollection()
                                                                    ->setEntityPkFilter($productId)
                                                                    ->setStoreFilter(Mage::app()->getStore()->getId())
                                                                    ->load();
                                                                $rate=array();        
                                                                foreach($votesCollection as $vo)
                                                                {
                                                                    foreach ($reviews->getItems() as $review) {
                                                                        if($review['review_id']==$vo['review_id'])
                                                                        {
                                                                            $rate[]=$vo['value'];
                                                                        }
                                                                    }
                                                                }    
                                                                $avgf = array_sum($rate)/count($rate);
                                                                $avg = floor($avgf);  
                                                                $fraction = $avgf - $avg; 
                                                                $fraction=round($fraction);
                                                                $remaining_star=5-$avgf;
                                                                $remaining_star=round($remaining_star, 0, PHP_ROUND_HALF_DOWN);
                                                            }                                        
                                                            ?>
                                                        <div class="rating">
                                                        <?php if (count($reviews) > 0) {
                                                                for($i=1;$i<=$avg;$i++)
                                                            {    ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/star-icon.svg') ?>" alt="" border="0">
                                                            <?php }?>
                                                            <?php for($i=1;$i<=$fraction;$i++){?>
                                                            <img src="<?php echo $this->getSkinUrl('images/half-star-icon.svg') ?>" alt="" border="0">
                                                            <?php }?>
                                                        <?php for($i=1;$i<=$remaining_star;$i++)
                                                            {    ?>
                                                            <img src="<?php echo $this->getSkinUrl('images/grey-star-icon.svg') ?>" alt="" border="0">
                                                            <?php }?>
                                                        <?php } ?>
                                                        </div>
                                                        <?php if($product[3]->getTypeId()=="simple"):?>
                                                        <?php 
                                                        $sim_price=$product[3]->getPrice();
                                                        $special_price=$product[3]->getFinalPrice();
                                                        $dis=$sim_price-$special_price;
                                                        $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                                                        $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                                                        $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                                                        foreach($currencyRa as $me => $rates){
                                                            if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                                                $sim_price= number_format((float)$sim_price*$rates, 2, '.', '');
                                                                $special_price= number_format((float)$special_price*$rates, 2, '.', '');
                                                                $dis= number_format((float)$dis*$rates, 2, '.', '');
                                                            }
                                                            else
                                                            {
                                                                $sim_price=number_format((float)$sim_price, 2, '.', '');
                                                                $special_price=number_format((float)$special_price, 2, '.', '');
                                                                $dis=number_format((float)$dis, 2, '.', '');
                                                            }
                                                        }
                                                        ?>
                                                        <span class="pop-prod-price<?php if($sim_price!=$special_price) echo ' discounted-pop-prod';?>">
                                                        <?php if($sim_price!=$special_price):?>
                                                            <span class="discount"> Was <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($sim_price)+($sim_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$sim_price, 2, '.', '');?>"></b></span>
                                                        <?php endif;?>
                                                            <span class="price" data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($special_price)+($special_price*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$special_price, 2, '.', '');?>"></span>
                                                        <?php if($sim_price!=$special_price):?>
                                                            <span class="save"> Save <b data-currency="<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>" data-incprice="<?php echo number_format((float)($dis)+($dis*0.2), 2, '.', '');?>" data-exprice="<?php echo number_format((float)$dis, 2, '.', '');?>"></b></span>
                                                        <?php endif;?>
                                                        </span>
                                                        <?php endif;?>
                                                        <?php if($product[3]->getTypeId()=="bundle"):?>
                                                        <?php
                                                            $optionCol= $product[3]->getTypeInstance(true)
                                                                                ->getOptionsCollection($product[3]);
                                                            $selectionCol= $product[3]->getTypeInstance(true)
                                                                                   ->getSelectionsCollection(
                                                            $product[3]->getTypeInstance(true)->getOptionsIds($product[3]),$product[3]
                                                            );
                                                            $optionCol->appendSelections($selectionCol);
                                                            $price = $product[3]->getPrice();

                                                            foreach ($optionCol as $option) {
                                                                if($option->required) {
                                                                    $selections = $option->getSelections();
                                                                    $minPrice = min(array_map(function ($s) {
                                                                                    return $s->price;
                                                                                }, $selections));
                                                                    if($product[3]->getSpecialPrice() > 0) {
                                                                        $minPrice *= $product[3]->getSpecialPrice()/100;
                                                                    }

                                                                    $price += round($minPrice,2);
                                                                }  
                                                            }
                                                            $baseCurrencyCode = Mage::app()->getBaseCurrencyCode();
                                                            $allowedCurr = Mage::getModel('directory/currency')->getConfigAllowCurrencies();
                                                            $currencyRa = Mage::getModel('directory/currency')->getCurrencyRates($baseCurrencyCode, array_values($allowedCurr));
                                                            foreach($currencyRa as $me => $rates){
                                                                if(Mage::app()->getStore()->getCurrentCurrencyCode()==$me){
                                                                    $price= number_format((float)$price*$rates, 2, '.', '');
                                                                }
                                                                else
                                                                {
                                                                    $price=number_format((float)$price, 2, '.', '');
                                                                }
                                                            }
                                                            
                                                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($price)+($price*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$price, 2, '.', '').'"></span></span>';
                                                        ?>
                                                        <?php endif;?>
                                                        <?php if($product[3]->getTypeId()=='configurable'):?>
                                                            <?php 
                                                            $minn = array();
                                                            $confi_product = Mage::getModel('catalog/product')->load($product[3]->getId());
                                                            $block = Mage::app()->getLayout()->createBlock('catalog/product_view_type_configurable');
                                                            $block->setProduct($confi_product);
                                                            $config = json_decode($block->getJsonConfig(), true);
                                                            foreach ($config['childProducts'] as $aId=>$aValues){
                                                                $minn[]=$aValues['price'];
                                                            }
                                                            $min=min($minn);
                                                            echo '<span class="pop-prod-price">From <span class="price" data-currency="'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'" data-incprice="'.number_format((float)($min)+($min*0.2), 2, '.', '').'" data-exprice="'.number_format((float)$min, 2, '.', '').'"></span></span>';
                                                            ?>
                                                        <?php endif;?>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li><span class="btn border-gray-btn button btn-empty">View Product</span></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="test-website">
    <div class="test-text">This is a trial site and products are non purchasable. To purchase SpycameraCCTV products please go to <a href="https://www.spycameracctv.com/" class="text-link" target="_blank" rel="nofollow">www.spycameracctv.com</a>
        <div class="filled-close-btn"></div>
    </div>
</div>
<?php endif;?>