<div class="col-table full-width listing-filters">
    <div class="col-table full-width">
        <div class="col-table full-width">
            <ul>
                <li>
                    <div class="help-center-menu">                        
                        <?php $identifier = Mage::getSingleton('cms/page')->getIdentifier();?>                        
                        <?php if($identifier=="buyers-guide"): ?>
                            <a class="active" href="<?php echo $this->getUrl('buyers-guide'); ?>">Buyer's Guide</a>    
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('buyers-guide'); ?>">Buyer's Guide</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="aboutus"): ?>
                            <a class="active" href="<?php echo $this->getUrl('aboutus'); ?>">About Us</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('aboutus'); ?>">About Us</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="contact"): ?>
                            <a class="active" href="<?php echo $this->getUrl('contact'); ?>">Contact Us</a>                    
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('contact'); ?>">Contact Us</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="delivery"): ?>
                            <a class="active" href="<?php echo $this->getUrl('delivery'); ?>">Delivery</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('delivery'); ?>">Delivery</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="discreet-packaging"): ?>
                            <a class="active" href="<?php echo $this->getUrl('discreet-packaging'); ?>">Discreet Packaging</a>                    
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('discreet-packaging'); ?>">Discreet Packaging</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="payment-info"): ?>
                            <a class="active" href="<?php echo $this->getUrl('payment-info'); ?>">Payment Info</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('payment-info'); ?>">Payment Info</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="price-match-guarantee"): ?>
                            <a class="active" href="<?php echo $this->getUrl('price-match-guarantee'); ?>">Price Match Promise</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('price-match-guarantee'); ?>">Price Match Promise</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="testimonials"): ?>
                            <a class="active" href="<?php echo $this->getUrl('testimonials'); ?>">Testimonials</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('testimonials'); ?>">Testimonials</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="2-year-guarantee"): ?>
                            <a class="active" href="<?php echo $this->getUrl('2-year-guarantee'); ?>">2 Year Guarantee</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('2-year-guarantee'); ?>">2 Year Guarantee</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="returns"): ?>
                            <a class="active" href="<?php echo $this->getUrl('returns'); ?>">Returns Policy</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('returns'); ?>">Returns Policy</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="trade-enquiries"): ?>
                            <a class="active" href="<?php echo $this->getUrl('trade-enquiries'); ?>">Trade Enquiries</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('trade-enquiries'); ?>">Trade Enquiries</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="cctv-installers"): ?>
                            <a class="active" href="<?php echo $this->getUrl('cctv-installers'); ?>">CCTV Installers</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('cctv-installers'); ?>">CCTV Installers</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="terms"): ?>
                            <a class="active" href="<?php echo $this->getUrl('terms'); ?>">Terms &amp; Conditions</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('terms'); ?>">Terms &amp; Conditions</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="privacy"): ?>
                            <a class="active" href="<?php echo $this->getUrl('privacy'); ?>">Privacy &amp; Security</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('privacy'); ?>">Privacy &amp; Security</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="corporate-responsibility"): ?>
                            <a class="active" href="<?php echo $this->getUrl('corporate-responsibility'); ?>"> Corporate Responsibility </a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('corporate-responsibility'); ?>"> Corporate Responsibility </a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="privacy"): ?>
                            <a class="active" href="<?php echo $this->getUrl('sitemap'); ?>">Sitemap</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('sitemap'); ?>">Sitemap</a>                        
                        <?php endif;?>                        
                        <?php if($identifier=="privacy"): ?>
                            <a class="active" href="<?php echo $this->getUrl('careers'); ?>">Careers</a>                        
                        <?php else:?>                            
                            <a href="<?php echo $this->getUrl('sitemap'); ?>">Sitemap</a>                        
                        <?php endif;?>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>