<section class="review-sale">
    <div class="col-table full-width">
        <?php $review_data=file_get_contents("https://api.trustpilot.com/v1/business-units/4be00e9b0000640005074872/reviews?apikey=xiUefaKjBZg13aK5pK33pgwe3lqeAtWh&stars=4,5&page=1&perPage=10");
$rd=json_decode($review_data);
$random=array_rand($rd->reviews,1);
?>
            <?php $review_data1=file_get_contents("https://api.trustpilot.com/v1/business-units/4be00e9b0000640005074872?apikey=xiUefaKjBZg13aK5pK33pgwe3lqeAtWh");
$rd1=json_decode($review_data1);?>
                <ul>
                    <li> <img src="<?php echo $this->getSkinUrl('images/trustpilot-logo.png'); ?>" alt="" border="0">
                        <div class="star-tp">
                            <?php $star=$rd->reviews[$random]->stars;?>
                                <?php for($i=0;$i<$star;$i++) {?> <img src="<?php echo $this->getSkinUrl('images/green-star.png'); ?>" alt="" border="0">
                                    <?php }?>
                        </div>
                        <h5>Rated Excellent <?php echo $rd1->trustScore;?>/10</h5>
                        <div class="quote hide">
                            <p><i>“<?php echo $rd->reviews[$random]->text;?>”</i></p> <i>- <?php echo $rd->reviews[$random]->consumer->displayName;?></i> </div>
                        <hr class="hide">
                        <h5 class="hide"><b>1</b> of <b><?php echo $rd1->numberOfReviews->total;?></b> reviews</h5> <a href="/testimonials" class="btn white-btn">View all Reviews</a> </li>
                    <li>
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homepage_sale_section')->toHtml();?>
                    </li>
                </ul>
    </div>
</section>