<?php 
/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * Template for showing options for filter as a HTML list 
 * @author Mana Team
 * Injected instead of standard catalog/layer/filter.phtml in Mana_Filters_Block_Filter_Attribute constructor.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/* @var $this Mana_Filters_Block_Filter_Attribute */
?>
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'before_items', array('block' => $this)) ?>
<?php foreach ($this->getItems() as $_item): ?>
 <?php if ($_item->getMSelected()): ?>
 <?php else:?>
<?php if(($_item->getLabel()!='YES') && ($_item->getLabel()!='In Stock') && ($_item->getLabel()!='Out of stock')):?>
        <?php 
        $lab=$_item->getLabel();
        $lab=strip_tags($lab);
        $lab=str_replace(" ","-",$lab);
        $lab=str_replace("$","",$lab);
        $lab=str_replace(".","",$lab);
        $lab=str_replace("---","-",$lab);
        $lab=str_replace("--","-",$lab);
        ?>
        <?php if ($_item->getCount() > 0): ?>
            <div><input type="checkbox" name="" value="<?php echo $this->urlEscape($_item->getUrl())?>"  onClick="if (this.checked) { filterReplace(this.value); }" id="<?php echo $lab;?>"> <label for="<?php echo $lab;?>"> <?php echo strip_tags($_item->getLabel()).' ('.$_item->getCount().')'; ?></label></div>
        <?php else: ?>
               <div><input type="checkbox" name="" value="<?php echo $this->urlEscape($_item->getUrl())?>"  onClick="if (this.checked) { filterReplace(this.value); }" id="<?php echo $lab;?>"> <label for="<?php echo $lab;?>"> <?php echo strip_tags($_item->getLabel()).' ('.$_item->getCount().')'; ?></label></div>
        <?php endif; ?>
    <?php elseif(($_item->getLabel()=='In Stock')):?>
        <div class="hAccord"><input type="checkbox" name="" value="<?php echo $this->urlEscape($_item->getUrl())?>"  onClick="if (this.checked) { filterReplace(this.value); }" id="<?php echo "In-Stock";?>"> <label for="<?php echo "In-Stock";?>"> <?php echo "Exclude out of stock"; ?></label></div>
    <?php elseif(($_item->getLabel()=='Out of stock')):?>
    <?php else: ?>
            <?php $attrcode=$_item->getFilter()->getAttributeModel()->getAttributeCode();
                $attributeInfo = Mage::getResourceModel('eav/entity_attribute_collection')
                ->setCodeFilter($attrcode)
                ->getFirstItem();
            $lab=$attributeInfo->getFrontendLabel();
        $lab=strip_tags($lab);
        $lab=str_replace(" ","-",$lab);
        $lab=str_replace("$","",$lab);
        $lab=str_replace(".","",$lab);
        $lab=str_replace("---","-",$lab);
        $lab=str_replace("--","-",$lab);?>
            <div class="hAccord"><input type="checkbox" name="" value="<?php echo $this->urlEscape($_item->getUrl())?>"  onClick="if (this.checked) { filterReplace(this.value); }" id="<?php echo $lab;?>"> <label for="<?php echo $lab;?>"> <?php echo strip_tags($attributeInfo->getFrontendLabel()); ?></label></div>
 <?php endif; ?>
 <?php endif; ?>
<?php endforeach ?>
<?php echo Mage::helper('mana_core')->getNamedHtml('mana_filters/markup', 'after_items', array('block' => $this)) ?>
