<?php
/**
 * @category    Mana
 * @package     Mana_Filters
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
/**
 * Category layered navigation state
 *
 * @see Mage_Catalog_Block_Layer_State
 */
/* @var $this Mage_Catalog_Block_Layer_State */
?>
<?php
$_filters = $this->getActiveFilters();
$load_extend = new SMGC_Extend_Block_View();
?>

<?php /* Business logic for showing which filter has been applied to product collection */?>
<?php if(!empty($_filters)): ?>
    <li class="tags">
    <?php
    $state_data = $load_extend->state_view();
    echo $state_data['price'];
    echo $state_data['ngvira'];
    echo $state_data['fiofv'];
    ?>
    <?php foreach ($_filters as $_filter): ?>
    <?php if(($_filter->getLabel()!='YES') && ($_filter->getLabel()!='In Stock') && ($_filter->getLabel()!='Out of stock')):?>
        <?php if(($_filter->getName()!='Night Vision Range') && ($_filter->getName()!='Field of View') && ($_filter->getName()!='Price')):?>
            <a href="<?php echo $_filter->getRemoveUrl() ?>"><?php echo $this->__($_filter->getName()) ?>: <span><?php echo $this->stripTags($_filter->getLabel()) ?></span></a>
        <?php endif; ?>
    <?php elseif(($_filter->getLabel()=='In Stock')):?>
        <a href="<?php echo $_filter->getRemoveUrl() ?>"><span><?php echo "Exclude out of stock"; ?></span></a>
    <?php elseif(($_filter->getLabel()=='Out of stock')):?>
    <?php else: ?>
        <a href="<?php echo $_filter->getRemoveUrl() ?>"><?php echo $this->__($_filter->getName()) ?></a>
    <?php endif; ?>
    <?php endforeach; ?>
    </li>
<?php endif; ?>
<?php /* Business logic for showing which filter has been applied to product collection */?>
